<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>Filter.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffAuthenticationFilter</filter-name>
        <filter-class>Filter.StaffAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaffAuthenticationFilter</filter-name>
        <url-pattern>/staff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeControllers</servlet-name>
        <servlet-class>Controllers.HomeControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationControllers</servlet-name>
        <servlet-class>Controllers.AuthenticationControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControllers</servlet-name>
        <servlet-class>Controllers.customer.CartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerServlet</servlet-name>
        <servlet-class>Controllers.admin.ProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagerServlet</servlet-name>
        <servlet-class>Controllers.admin.CategoryControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CouponControllers</servlet-name>
        <servlet-class>Controllers.admin.CouponControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>Controllers.admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentControllers</servlet-name>
        <servlet-class>Controllers.staff.ContentControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>Controllers.PublicProductsControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentsSerlvet</servlet-name>
        <servlet-class>Controllers.ContentsSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>Controllers.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>Controllers.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductVariantControllers</servlet-name>
        <servlet-class>Controllers.admin.ProductVariantControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controllers.ProductDetailControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <servlet-class>Controllers.staff.StaffDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.customer.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordControllers</servlet-name>
        <servlet-class>Controllers.customer.ChangePasswordControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressControllers</servlet-name>
        <servlet-class>Controllers.customer.AddressControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistControllers</servlet-name>
        <servlet-class>Controllers.customer.WishlistControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountControllers</servlet-name>
        <servlet-class>Controllers.admin.AccountControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControllers</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationControllers</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControllers</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerServlet</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagerServlet</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CouponControllers</servlet-name>
        <url-pattern>/admin/coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentControllers</servlet-name>
        <url-pattern>/staff/content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentsSerlvet</servlet-name>
        <url-pattern>/contents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductVariantControllers</servlet-name>
        <url-pattern>/admin/product/variants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <url-pattern>/staff/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/customer/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordControllers</servlet-name>
        <url-pattern>/customer/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressControllers</servlet-name>
        <url-pattern>/customer/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistControllers</servlet-name>
        <url-pattern>/customer/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountControllers</servlet-name>
        <url-pattern>/admin/accounts</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
